@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.main {
    width: 100%;
    height: 100vh;
}
.header {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    position: absolute;
    
}
.header p {
    font-family: "pirata one";
    font-size: 30px;
    margin-left: 25px;
}
.body{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}
.login-div{
    width: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    overflow: hidden;
}
.login-div h2{
    font-weight: 900;
    font-size: 30px;
}
.login-div p{
    width: 60%;
    text-align: center;
}
.login-div form {
    background-color: chartreuse;
}
.form-control {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.form-control input{
    padding: 5px;
}
.check {
    margin-top: 10px;
    display: flex;
    white-space: nowrap;
}
.login-div form input[type=submit] {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}
.switch-signup{
    width: 0;
    height: 100%;
    background-color: blue;
    transform: skew(10deg) translateX(100px);
    overflow: hidden;
}
.switch-login{
    height: 100%;
    width: 50%;
    background-color: #3556db;
    color: white;
    transform: skew(-10deg) translateX(-100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    text-align: center;
}
